.starter-template {
  padding: 40px 15px;
  text-align: center;

}


.bg-light {
background-color: white !important;

}

.navbar-brand {

color: #FF6553 !important;

}


bill {
padding-bottom: 50px;

}






